{% extends 'base.html.twig' %}

{% block title %}Annonces index{% endblock %}

{% block body %}
    <h1>Annonces index</h1>
    <input type="checkbox" id="ownAnnonces" name="ownAnnonces" onclick="showEdit(this)">
    <label for="ownAnnonces">Voir ses annonces</label>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Images</th>
                <th>Localisation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr class="tabAnnonces" id="tabAnnonces">
                <td>{{ annonce.titre }}</td>
                <td>{{ annonce.description }}</td>
                <td>{{ annonce.prix }}</td>
                <td>{{ annonce.images }}</td>
                <td>{{ annonce.localisation }}</td>
                <td class="actionButtons" id="actionButtons">
                    <a href="{{ path('app_annonces_show', {'id': annonce.id}) }}">show</a>
                    {% if (annonce.iduser.id == app.user.id) or (is_granted('ROLE_ADMIN')) %}
                    <a href="{{ path('app_annonces_edit', {'id': annonce.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_annonces_new') }}">Create new</a>
{% endblock %}
